pytest>=8.3.5					# Testing
coverage>=7.7.1					# Coverage
sphinx>=8.1.3					# Documentation
sphinx-rtd-theme>=3.0.2 		# Github Pages Documentation

-r modules/datetime/requirements.txt
-r modules/files/requirements.txt
-r modules/errors/requirements.txt